/** App sections */
$col-app-header-bg: #1d1d1d;
$col-app-footer-bg: $col-app-header-bg;
$col-app-bg: #0d0d0d;

/** Start button */
$col-btn-fg-start: #52e66b;
$col-btn-bg-start: #004827;

/** Stop button */
$col-btn-fg-stop: #ff4848;
$col-btn-bg-stop: #6b100b;;

/** Lap button */
$col-btn-fg-lap: #d3d3d3;
$col-btn-bg-lap: #525151;
$col-btn-fg-lap-disabled: #848488;
$col-btn-bg-lap-disabled: #141414;


$col-off-white: #e4e4e4;
