@import 'core/variables';
@import 'core/colours';

$border-line-colour: #1f1818;

.container {
  height: $app-list-height;
  overflow: hidden;
  overflow-y: scroll;

  &.backgroundLines {
    background-image: linear-gradient($border-line-colour 1px, transparent 1px);
    background-size: 80% 33px;
  }
  &.borderLines {
    dl {
      border-top: 1px solid $border-line-colour;
    }
  }
}
